# Godot 4+ specific ignores
.godot/
.import/
export.cfg
export_presets.cfg
*.tmp
*.translation

# Personal testing ignore
/testing

# Macos metadata ignore
.DS_Store
**.DS_Store
__MACOSX/

# Vscode directory ignore
.vscode/